*.pyc
/WorkSpider/sciencenet_spider/sciencenet_spider_result/
/WorkSpider/ioz_ac_spider/ioz_ac_spider_result/
/WorkSpider/cwca_org_spider/cwca_org_spider_result/
/WorkSpider/kepu_net_spider/kepu_net_spider_result/
/WorkSpider/biotech_org_spider/biotech_org_spider_result/
/WorkSpider/genetics_ac_spider/genetics_ac_spider_result/
/WorkSpider/whiov_ac_spider/whiov_ac_spider_result/
/WorkSpider/ibp_cas_spider/ibp_cas_spider_result/
/WorkSpider/cern_ac_spider/cern_ac_spider_result/
/WorkSpider/ebiotrade_spider/ebiotrade_spider_result/
/WorkSpider/bioon_spider/bioon_spider_result/
/WorkSpider/ibioo_spider/ibioo_spider_result/
/WorkSpider/bio360_spider/bio360_spider_result/
/WorkSpider/zgzbao_spider/zgzbao_spider_result/
/MySpider/tumblr_spider/tumblr_user_likes_spider_result/
/WorkSpider/im_cas_spider/im_cas_spider_result/
/WorkSpider/scib_cas_spider/scib_cas_spider_result/
/WorkSpider/bnbio_spider/bnbio_spider_result/
/WorkSpider/biobw_org_spider/biobw_org_spider_result/
/WorkSpider/skmn_fudan_spider/skmn_fudan_spider_result/
/WorkSpider/shmc_fudan_spider/shmc_fudan_spider_result/
/WorkSpider/cscb_org_spider/cscb_org_spider_result/
/WorkSpider/sippe_ac_spider/sippe_ac_spider_result/
/WorkSpider/nibs_ac_spider/nibs_ac_spider_result/
/WorkSpider/simm_ac_spider/simm_ac_spider_result/
/WorkSpider/sibcb_ac_spider/sibcb_ac_spider_result/
/WorkSpider/rcees_cas_spider/rcees_cas_spider_result/